name: Test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  go:
    name: Test Go packages
    runs-on: ubuntu-latest
    container:
      image: golang:alpine
    env:
      GOFLAGS: -buildvcs=false
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up test environment
        run: |
          apk add --no-cache bash gcc g++ openssl-dev openssl
          go work init
          go work use -r .
      - name: Test base library
        run: go test -v ./...
      - name: Test FSIM
        run: go test -v ./fsim/...
      - name: Test sqlite
        run: go test -v ./sqlite/...
      - name: Test TPM
        run: go test -v ./tpm/...
      - name: Test examples
        run: go test -v ./examples/...
  tinygo:
    name: Test Go packages (TinyGo)
    runs-on: ubuntu-latest
    container:
      image: tinygo/tinygo:0.39.0
      options: --user root
    env:
      GOFLAGS: -buildvcs=false
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Test base library
        run: tinygo test -v ./...
