name: Test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  go:
    name: Test Go packages
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -buildvcs=false
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd
        with:
          # Avoid GitHub rate limiting
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Test base library
        run: |
          nix develop '.#go' -c sh -c "if go work init; then go work use -r .; fi;
            go test -v ./...
          "
      - name: Test FSIM
        run: |
          nix develop '.#go' -c sh -c "if go work init; then go work use -r .; fi;
            go test -v ./fsim/...
          "
      - name: Test sqlite
        run: |
          nix develop '.#go' -c sh -c "if go work init; then go work use -r .; fi;
            go test -v ./sqlite/...
          "
      - name: Test TPM
        run: |
          nix develop '.#go' -c sh -c "if go work init; then go work use -r .; fi;
            go test -v ./tpm/...
          "
      - name: Test examples
        run: |
          nix develop '.#go' -c sh -c "if go work init; then go work use -r .; fi;
            go test -v ./examples/...
          "
      - name: Test example builds with Nix
        run: |
          nix build '.#example'
          nix build '.#example-tpmsim'
  tinygo:
    name: Test Go packages (TinyGo)
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -buildvcs=false
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd
        with:
          # Avoid GitHub rate limiting
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Test base library
        run: |
          nix develop '.#tinygo' -c sh -c "if go work init; then go work use -r .; fi;
            tinygo test -v ./...
          "
      - name: Test example builds with Nix
        run: |
          nix build '.#example-tinygo'
