name: Update Nix Dependencies

on:
  pull_request_target:
    paths:
      - "**/go.sum"

jobs:
  update-nix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Use personal access token instead of GITHUB_TOKEN so that any
          # pushes trigger actions to run again.
          token: ${{ secrets.WRITE_GO_FDO }}
          # Checkout the head of the PR branch.
          ref: ${{ github.event.pull_request.head.sha }}
          # We need full history to amend the commit.
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Update gomod2nix.toml and modules.txt
        run: |
          set -ex
          # Enter the nix shell and run the update commands
          nix develop --command bash -c '
            set -ex
            go work init
            go work use -r .
            go work vendor
            mv vendor/modules.txt nix/
            gomod2nix
            mv gomod2nix.toml nix/
          '

      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add nix/gomod2nix.toml nix/modules.txt
          # Amend the commit only if there are changes.
          if ! git diff --staged --quiet; then
            git commit --amend --no-edit
            git push --force
          else
            echo "No changes to commit"
          fi
